.customer-reviews {
  font-family: DM Sans;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.customer-reviews__img-container {
  margin: 0 auto 29px;
}
.customer-reviews__img {
  width: 85px;
  height: 85px;
}
.customer-reviews__text-background {
  position: relative;
  background-color: rgb(250, 250, 250);
  min-width: 280px;
  max-width: 440px;
  max-height: 308px;
  margin: 0 20px;
  padding-top: 43px;
  padding-bottom: 20px;
}
.customer-reviews__text-background::before {
  position: absolute;
  content: "";
  background-image: url(.././images/quote.png);
  background-repeat: no-repeat;
  top: 25px;
  left: 55px;
  height: 100px;
  width: 100px;
}
.customer-reviews__text-background::after {
  content: "";
  background-image: url(.././images/dots.png);
  position: absolute;
  bottom: -33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-repeat: no-repeat;
  width: 25px;
  height: 7px;
  background-size: 25px;
}
.customer-reviews__paper {
  margin: auto;
  padding-left: 7px;
  padding-right: 16px;
  width: 62%;
  background-image: linear-gradient(rgb(225, 225, 225) 1px, transparent 0px);
  background-size: 50% 1.95em;
  background-position-y: 1.5rem;
}
.customer-reviews__text {
  position: relative;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 12px;
  line-height: 255%;
  margin: auto 0;
}
.customer-reviews__title {
  font-size: 14px;
  line-height: 186%;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 52px;
  margin-bottom: 30px;
}
.customer-reviews__dots-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.customer-reviews__dot {
  background-color: rgb(217, 217, 217);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 9px;
}

@media screen and (min-width: 768px) {
  .customer-reviews__img-container {
    margin-bottom: 19px;
  }
  .customer-reviews__text-background {
    max-width: 852px;
    margin: 0 74px;
  }
  .customer-reviews__text-background::before {
    left: 80px;
  }
  .customer-reviews__text-background::after {
    bottom: -27px;
  }
  .customer-reviews__paper {
    padding-left: 20px;
    padding-right: 44px;
    width: 80%;
    background-size: 50% 2.05em;
    background-position-y: 1.52rem;
  }
  .customer-reviews__text {
    font-size: 14px;
    line-height: 216%;
  }
  .customer-reviews__title {
    font-size: 16px;
    margin-top: 42px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .customer-reviews__img-container {
    margin-bottom: 15px;
  }
  .customer-reviews__text-background {
    margin: 0 176px 0 178px;
    max-width: 926px;
  }
  .customer-reviews__text-background::after {
    bottom: -18px;
  }
  .customer-reviews__paper {
    padding-left: 28px;
    padding-right: 35px;
    background-position-y: 1.59rem;
  }
  .customer-reviews__text {
    font-size: 16px;
    line-height: 186%;
  }
  .customer-reviews__title {
    font-size: 20px;
    margin-top: 34px;
  }
}/*# sourceMappingURL=main.css.map */